.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    height: 20%;
    width: 30%;
    justify-content: center;
}

.normal {
    text-decoration: none;
}
